@font-face {
    font-family: "Quicksandbook";
    src: url("Quicksand_Book.otf") format("opentype");
}

@font-face {
	font-family: "Quicksandbold";
    src: url("Quicksand_Bold.ttf") format("truetype");
}


body {
	background-color:#EBECE3;
}

#topheader {
	height: 40px;
	width:100%;
	background-color:#EBECE3;
}

#questionMark {
    background: url('../img/About.png') no-repeat center; 
 	float:right;
    margin-right: 20px;
    margin-top: 10px;
    width: 21px;
    height: 21px;
}

#creditsicon {
	margin-top: 10px;
	margin-right:20px;
	float:right;
	width: 20px;
    height: 20px;
}	

.titelcredits {
	font-family:'quicksandbold';
	color:#EF9722;
	font-size:14px;
	text-transform:uppercase;
	float:left;
	text-align:center;
	width: 100%;
	margin-bottom:5px;
}

#backgroundimg {
	background-image:url(../img/skylinedark.png);
	background-repeat:repeat;
	height: 65px;
	float:left;
	width:100%;
}
	

#whobackground {
	background-color:#474646;
	width:100%;
	float:left;
}

section {
	float: left;
	width: 80%;
	margin-left: 10%;
}

#what{
	float:left;
	text-align:center;
	font-family:'quicksandbook';
	color:#474646;
	font-size:14px;
	margin-top: 14px;
}



#who {
	font-family: 'quicksandbook';
	font-size:14px;
	color:#EBECE3;	
}

li {
	list-style: none;
}

.clear {
    clear:both;
}

.creditsblock {  
    margin-bottom:15px;     
    
}

.left {
	float:left;
	width:50%;
	margin-top:5px;
}

.right {
	float:right;
	width:50%;
	margin-top:5px;
}

.full {
	width:100%;
	float:left;
	margin-top: 5px;
}

#whatis {
	margin-top: 7px;
	float:left;
}

.sponsorlogo {
	margin-left:5px;
}

#sponsors {
	margin-bottom: 20px;
}




#creditslogo {
		margin-left:44%;
		float:left;
		width: 88px;
		text-align:center;
	}

