body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: red;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li {
    display: inline;
    float: left;
}
nav ul li a {
    display: block;
    width: 100px;
    text-align: center;
    background-color: #555;
    color: orange;
    padding: 5px 0px 5px 0px;
}
nav ul li a:hover {
    background-color: #666;
}

@media screen and (max-width: 515px) {
    nav ul, nav ul li a {
        width: 100%;
    }
    nav ul li {
        width: 33%;
    }
}