body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: red;
        clear: both;
}
header nav {
    clear: both;
}
header nav a {
    width: 100px;
    display: block;
    float: left;
    text-align: center;
    background-color: #555;
    color: orange;
    padding: 5px 0 5px 0;
}
header nav a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
header nav a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 515px){
    header nav a {
        width: 33%;
    }
}