@font-face {
    font-family: "Quicksandbook";
    src: url("Quicksand_Book.otf") format("opentype");
}

@font-face {
    font-family: "Quicksandbold";
    src: url("Quicksand_Bold.ttf") format("truetype");
}