@font-face {
    font-family: "Quicksandbook";
    src: url("Quicksand_Book.otf") format("opentype");
}

@font-face {
	font-family: "Quicksandbold";
    src: url("Quicksand_Bold.ttf") format("truetype");
}

/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-shadow: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------*/



body {
    margin: 0px;
    padding: 0px;
}
li.button {
	background-color: #D4D3CB;
	font-family:"quicksandbold";
	font-size:16px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
	width: 80%;
}
li.button:hover {
    background-color: #EF9722;
}
.icon {
    display: inline-block; 
}
.icon span {
    position:relative; 
    top: 88%;
    color: #EF9823;
}
.smallIcon {
    display: inline-block;
}
.smallIcon span {
    position:relative; 
    top: 100%;
    color: #EF9823;
}

#map {
    height: 90%;
}
#mapButtons{
    position: absolute;
    right: 2%;
    margin-top: 20%;
    padding:10px;
    border-radius: 15px;
    vertical-align:text-top;
    z-index: 1000;
    display:none;
    text-align:center;
    /* RGBa with 0.6 opacity */
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    background-color: #444;
}
#filterSection {
    display: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
}
#filterSection li {
    margin-left: 10px;
    padding: 5px;
}
#header {
    position: absolute;
    z-index: 2000;
    background: #D4D4CC;
    color: #484646;
    width: 100%;
}
.filter {
    border-radius: 10px;
}
.red {
    background-color: red;
}
#menu {
    background: #EDEDE4;
}
#menu div {
    float: left;
}

/**
 * Overlay
 */
div#information {
    background: #EBECE3;
    position: relative;
	margin: 18px auto 0;
    height: 416px;
    width: 240px;
    z-index: 100;
    border-radius: 10px;
    color: #474646;
    font-family: Quicksandbook;
    font-size: 14px;
    line-height: 17px;
	text-align:center;
	padding-bottom:10px;
}

#logo {
	padding-top:18px;
}

#experience {
	font-family: "quicksandbook";
	font-size: 21px;
	line-height: 1.2;
	width: 220px;
	margin: 25 auto 0;
	color:#EF9722;
}

h6 {
	font-family:"quicksandbold";
	font-size: 14px;
	margin-top: 30px;
}

#uitleg {
	width: 220px;
	margin: 11 auto 0;
}

#skyline {
	width:240px;
}
	


.center {
    text-align: center;
}
span#closeInformation {
    position: absolute;
    right: 5px;
    clear: both;
    padding: 5px 7px 5px 7px;
    color: white;
}


/**
 * Carrousel
 */
div#carrouselWrapper {
    overflow: hidden;
}
div#carrousel {
    height: 100%;
    width: 99999px;
    overflow: hidden;
}
.page {
    position: relative;
    float: left;
}
.page h1 {
    text-align: center;
    color: #EF9823;
    font-family:"quicksandbook";
	font-size:25px;
	text-transform:uppercase;
	margin-top:25px;
}
.page ol, ul {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.page ul {
    list-style-type: none;
    padding: 0px;
}
.page ul li {
    float: left;
    width: 250px;
}

/**
 * JQuery styling
 */
.ui-page {
    background: #EDEDE4;
}
.ui-content {
    /* Clearing the margin and padding of jQuery Mobile */
    margin: 0px;
    padding: 0px;
    font-family: Quicksand;
}
/**
 * OpenLayers styling
 */
.olPopup {
    background-color: #444;
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
<<<<<<< HEAD
    margin-left: -50px;
=======
    text-shadow: none;
>>>>>>> 6d4b64359ba2701d645ed604b0c2f86f83301024
    color: white;
    width: 200px;
    overflow: scroll;
}
span.moreInfo {
    display: block;
    text-align: right;
    padding-top: 10px;
    color: #EF9722;
}
.olPopupCloseBox{
    /*background-color: #EF9823;*/
    background: url('../img/close.png') no-repeat center;  
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
}
.olPopup h1 {
    font-size: 15px;
    margin-top: 0px;
}
.olPopup p {
    font-size: 12px;
}
div.olControlZoom {
    position: absolute;
    top: 30px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding:2px;
}
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
div.olControlZoom a {
    display:block;
    color:#FFF;
    font-size:28px;
    font-family:sans-serif;
    font-weight:700;
    text-decoration:none;
    text-align:center;
    height:32px;
    width:32px;
    line-height:28px;
    background:rgba(0,60,136,0.5);
    filter:alpha(opacity=80);
    margin:1px;
    padding:0;
}
a.olControlZoomIn {
    border-radius:4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius:0 0 4px 4px;
}
div.olControlZoom a:hover {
    background:rgba(0,60,136,0.7);
    filter:alpha(opacity=100);
}
/**
 * Tablet standard version
 */
header {
    background: url('../img/tablet/ipad-logo.png') no-repeat center;
    height: 149px;
    padding-top: 20px;
}
.icon {
    width: 200px;
    height: 200px;
    display: inline-block;
}
.smallIcon {
    width: 100px;
    height: 75px;  
    font-size: 11px;
    display: inline-block;
    text-align: center;
}
#mustSee.icon {
    background: url('../img/tablet/ipad-mustsee-icon.png') no-repeat center;
}
#favorites.icon {
    background: url('../img/tablet/ipad-Fav-icon.png') no-repeat center;
}
#lookLater.icon {
    background: url('../img/tablet/ipad-LookLater-icon.png') no-repeat center; 
}
#seen.icon {
    background: url('../img/tablet/ipad-seen-icon.png') no-repeat center; 
}
#mustSee.smallIcon {
    background: url('../img/smartphone/mustsee-icon.png') no-repeat center;
}
#mustSee.active {
    background: url('../img/tablet/mustsee-orange.png') no-repeat center;    
}
#favorites.smallIcon {
    background: url('../img/smartphone/fav-icon.png') no-repeat center;
}
#favorites.active {
    background: url('../img/tablet/Fav-orange.png') no-repeat center;    
}
#lookLater.smallIcon {
    background: url('../img/smartphone/lookLater-icon.png') no-repeat center; 
}
#lookLater.active {
    background: url('../img/tablet/Looklater-orange.png') no-repeat center;    
}
#seen.smallIcon {
    background: url('../img/smartphone/Seen-icon.png') no-repeat center; 
}
#seen.active {
    background: url('../img/tablet/Seen-orange.png') no-repeat center; 
}
#questionMark {
    background: url('../img/About.png') no-repeat center; 
 	float:right;
    margin-right: 20px;
    margin-top: 10px;
    width: 21px;
    height: 21px;
}

#credits {
	margin-top: 10px;
	margin-right:20px;
	float:right;
	width: 21px;
    height: 21px;
}

.buttonRow {
	margin-top:40px;
}

.titel {
	font-family: "quicksandbook";
	font-size:25px;
	margin-top:10px;
}

/**
 * Menu
 */
#menu .home {
    display: inline-block;
    background: url('../img/tablet/menu/Home.png') no-repeat;
    width: 191px;
    height: 72px;
    margin-bottom: 6px;
}
#menu .home.active {
    background: url('../img/tablet/menu/Home-orange.png') no-repeat;
}
#menu .scan {
    display: inline-block;
    background: url('../img/tablet/menu/scan.png') no-repeat;
    width: 144px;
    height: 118px;
    vertical-align: bottom;
}
#menu .map {
    display: inline-block;
    background: url('../img/tablet/menu/map.png') no-repeat;
    width: 192px;
    height: 72px;
}
#menu .map.active {
    background: url('../img/tablet/menu/map-orange.png') no-repeat;
}

@media screen and (max-width: 550px) { 
	    
    /**
     * Menu
     */
    #menu .home {
        background: url('../img/smartphone/menu/normal/Home.png') no-repeat;
        width: 107px;
        height: 41px;
    }
    #menu .home.active {
        background: url('../img/smartphone/menu/normal/Home-orange.png') no-repeat;
    }
    #menu .scan {
        background: url('../img/smartphone/menu/scan.png') no-repeat;
        width: 81px;
        height: 67px;
    }
    #menu .map {
        background: url('../img/smartphone/menu/normal/map.png') no-repeat;
        width: 109px;
        height: 41px;
    }
    #menu .map.active {
        background: url('../img/smartphone/menu/normal/map-orange.png') no-repeat;
    }
	
	.buttonRow {
	margin-top:20%;
}


}

/**
 * Smartphone
 */
@media screen and (max-width: 450px) {
	
    header {
        background: url('../img/smartphone/logo.png') no-repeat center;
        height: 93px;
        padding-top: 20px;
    }
    .icon {
        width: 120px;
        height: 120px;  
        font-size: 11px;
    }
    .smallIcon {
        width: 60px;
        height: 60px;
        display: inline-block;
        font-size: 8px;
        text-align: center;
    }
    #mustSee.icon {
        background: url('../img/smartphone/mustsee-icon.png') no-repeat center;
    }
    #favorites.icon {
        background: url('../img/smartphone/fav-icon.png') no-repeat center;
    }
    #lookLater.icon {
        background: url('../img/smartphone/lookLater-icon.png') no-repeat center; 
    }
    #seen.icon {
        background: url('../img/smartphone/Seen-icon.png') no-repeat center; 
    }
    #mustSee.smallIcon {
        background: url('../img/smartphone/small-must-icon.png') no-repeat center;
    }
    #mustSee.active {
        background: url('../img/smartphone/small-orange-must-icon.png') no-repeat center;
    }
    #favorites.smallIcon {
        background: url('../img/smartphone/small-fav-icon.png') no-repeat center;
    }
    #favorites.active {
        background: url('../img/smartphone/small-orange-fav-icon.png') no-repeat center;
    }
    #lookLater.smallIcon {
        background: url('../img/smartphone/small-LookLater-icon.png') no-repeat center; 
    }
    #lookLater.active {
        background: url('../img/smartphone/small-orange-LookLater-icon.png') no-repeat center; 
    }
    #seen.smallIcon {
        background: url('../img/smartphone/small-seen-icon.png') no-repeat center; 
    }
    #seen.active {
        background: url('../img/smartphone/small-orange-seen-icon.png') no-repeat center; 
    }
	
	/*-----Menu------*/

.titel {
	font-size:14px;
	font-family:"quicksandbold";
}
    

}

@media screen and (max-width: 300px) {
	
    /**
     * Menu
     */
    #menu .home {
        background: url('../img/smartphone/menu/small/Home.png') no-repeat;
        width: 59px;
        height: 41px;
    }
    #menu .home.active {
        background: url('../img/smartphone/menu/small/Home-orange.png') no-repeat;
    }
    #menu .map {
        background: url('../img/smartphone/menu/small/map.png') no-repeat;
        width: 59px;
        height: 41px;
    }
    #menu .map.active {
        background: url('../img/smartphone/menu/small/map-orange.png') no-repeat;
    }
	
	/**
 * Overlay
 */
div#information {
    
	margin: 18px auto 0;
    width: 100%;
    line-height: 17px;
	text-align:center;
	padding-bottom:10px;
}

#logo {
	padding-top:18px;
}

#experience {
	font-size: 18px;
	line-height: 1.2;
	width: 220px;
	margin: 25 auto 0;
	color:#EF9722;
}

h6 {
	font-family:"quicksandbold";
	font-size: 14px;
	margin-top: 30px;
}

#uitleg {
	width: 220px;
	margin: 11 auto 0;
}

#skyline {
	width:240px;
}
	


.center {
    text-align: center;
}
span#closeInformation {
    position: absolute;
    right: 5px;
    clear: both;
    padding: 5px 7px 5px 7px;
    color: white;
	width: 25px;
}

/*-----Menu------*/

}